
.buttonsSprite {
  display: block;
  margin-bottom: 20px;
  width: 100%;

}

.capt {
  /* background-color: #e7e7e7; */
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}


/* ----- КНОПКИ  ------ */
.butAdd {
  width: max-content;
  /* height: 30px; */
  font-size: 1.3em;
  color: rgb(17, 17, 17);
  background-color: #ccd6d8;
  margin: 10px 20px 0 0;
  padding: 8px 15px 7px 15px;
}

.butAdd:hover {
  color: rgb(7, 11, 12);
  background-color: #c2d3d6;
}

.butUpdate {
  width: max-content;
  /* height: 30px; */
  font-size: 1.3em;
  color: rgb(17, 17, 17);
  background-color: #bed8dd;
  margin: 10px 20px 0 20px;
  padding: 8px 15px 7px 15px;
}

.butUpdate:hover {
  color: rgb(7, 11, 12);
  background-color: rgb(214, 239, 243);
}

.butSearch {
  width: 200px;
  font-size: 1.3em;
  color: rgb(7, 11, 12);
  margin: 10px 20px 0 20px;
  padding: 8px 15px 7px 15px;
}

.active {
  background-color: #b6ccd5;
}

.alarm {
  background-color: #f59c81;
}
