.tableWrapper {
  overflow-y: auto;
  min-height: calc(100% - 50px);

}
/* ------ ТАБЛИЦА С ЗАКРЕПЛЁННЫМ ЗАГОЛОВКОМ------- */

.tableFixedHead {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /* height: 100vh; */

}
