.centerBox {
  font-size: 10pt;
  /*border: 1px solid #dfe2e5;*/
  border-radius: 3px;
  /*background: #fdfcea;*/

  padding: 10px;

  min-height: 100px;
  display: block;
}

.result {
  display: flex;
  flex-wrap: wrap; /* не в столбик */
  align-items: flex-start; /*Выравнивание текста по вертикали */
  justify-items: center;
  height: 600px;
  /* overflow: hidden;  */
  /* text-overflow: clip; */
  /* scroll-behavior: smooth;
  overflow-y: scroll; */
  
}

.resultCard {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; не в столбик */
   /* Выравнивание текста по вертикали */
  justify-items: left;
  width: 700px;
  /* background: #928f58; */
  margin-left: 20px;

}

/* ------ ТАБЛИЦА ------- */

.capt {
  /* background-color: #e7e7e7; */
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
}
.table th,
.table td {
  border-bottom: 1px solid #cecfd5;
  padding: 5px 10px;
}
.table tfoot tr:last-child td {
  border-bottom: 0;
}

.table th {
  font-weight: 900;
  text-align: center;

} 
/* ------ КОНЕЦ ТАБЛИЦЫ ------- */

.tdProject {
  width: 100px;
  border: 0px;
  text-align: center;
}

.tdOrganization {
  width: 200px;
  border: 0px;
  text-align: left;
}

.tdSumMbCost,
.tdSumSpCost,
.tdResult {
  width: 150px;

  text-align: right;

}

/* ------ ТАБЛИЦА С ЗАКРЕПЛЁННЫМ ЗАГОЛОВКОМ------- */

.tableFixedHead {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /* height: 100vh; */
}

.tableFixedHead th,
.tableFixedHead td {
  padding: 5px;
  text-align: center;
  /* width: 33.333vw; */
}

.tableFixedHead thead {
  background-color: #d2e0e4;
  color: #263a3f;
  font-weight: 800;
}

.tableFixedHead thead tr {
  display: block;
  position: relative;
}

.tableFixedHead tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 480px;

}

.tableFixedHead tbody tr:nth-child(even) {
  background-color: #f4f8f8;
}