.centerBox {
  font-size: 10pt;
  /*border: 1px solid #dfe2e5;*/
  border-radius: 3px;
  /*background: #fdfcea;*/

  padding: 10px;
  min-height: 100px;
  display: block;
}

.result {
  display: flex;
  flex-wrap: wrap; /* не в столбик */
  align-items: flex-start; /*Выравнивание текста по вертикали */
  justify-items: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  
}

.resultCard {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; не в столбик */
   /* Выравнивание текста по вертикали */
  justify-items: left;
  width: 100%;
  /* background: #928f58; */
  /* margin-left: 20px; */

}


/* ТАБЛИЦА */

.capt {
  background-color: #e7e7e7;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
}

.table {
  border-collapse: collapse;

}

.table th,
.table td {
  border-bottom: 1px solid #cecfd5;
  padding: 5px 10px;
}
.table tfoot tr:last-child td {
  border-bottom: 0;
}

.table th {
  font-weight: 900;
} 

/* .table input {
  width: 100px;
} */



.button {
  margin: 20px 0 0 0;
}

/* Колонки */

.facturaTitle {
  width: 300px;
  /* background-color: aqua; */
}
thead .facturaTitleValue {
  width: 300px;
}

thead .trafficTitle {
  width: 300px;
}
thead .trafficTitleValue {
  width: 300px;
}