/* ======================================== */
/* =           Главный сектор             = */
/* ======================================== */

.container {
  margin: 0 auto;
  font-size: 0;
  /*border: solid #000000;*/
  width: 960px;
  /* position: relative; */
}

.section {
  font-size: 10pt;
  color:#000000;
  background: #ffffff;
  border: 1px solid #dfe2e5;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
  /* border-radius: 3px; */
  margin: 10px auto;
  padding: 30px;
  width: 100%;
  display: block;
}


