.cover {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    text-align: center;

    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */

    /* background-color:  #fdfdfd; */

    background: linear-gradient( #b0cad3, #8aa5af); 
    
}
.wrap {
    width: 960px;
    margin: 0 auto;
    /* background-color:  #fdfdfd; */

}
.cover svg {
    width: 50px;
    vertical-align: middle;
    position: relative;
    margin: 0 40px 8px 0;


}

.cover svg g {
    fill: #a4c2c4;
}
