/* ======================================== */
/* =           Главный сектор             = */
/* ======================================== */

.section-root {
  margin: 24px auto;
  padding: 30px;
  width: 1200px;
  color: #000000;
  background: linear-gradient(#f6fcff, #d7e9f0);
  // background: #ffffff;
  border: 1px solid #dfe2e5;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
  // /* border-radius: 3px; */
}
