
// .tableWrapper {
//     overflow: auto;
//     min-height: 300px;
// }
// .sticky-header {
//     position: sticky;
//     top: 0;
//     background: white;
// }

input::placeholder {
    transition: 0.5s; /* Время трансформации */
    color: #aaa; /* Цвет подсказки */
}
input:focus::placeholder { 
    font-size: 10px; /* Размер шрифта */
    transform: translateY(-16px); /* Сдвигаем вверх */
}

/* .table {
    table-layout: fixed;
    border-collapse: collapse;
}
   */
.table {
    border-collapse: collapse;
    /* font-size: 14px; */
}
.table th,
.table td {
    border-bottom: 1px solid #cecfd5;
    padding: 5px 10px;
}
.table thead {
    background-color: #d2e0e4;
    color: #263a3f;
    font-weight: 800;
  }
.table tfoot tr:last-child td {
    border-bottom: 0;
}

.table th {
    font-weight: 900;
    text-align: center;

} 

.dOrganization {
    width: 280px;
    border: 0px;
    text-align: left !important;
}

.dSiteId,
.dSumMbCost,
.dSumSpCost,
.dResult {
    width: 120px;
    border: 0px;
    text-align: right !important;
}
  